extends layout

block content
    legend Reset Password
    h4 Password updated!!!
    a(href="/signin")
        button(type="button", class="btn btn-primary") Back to App


        https://accounts.google.com/signin/continue?sarp=1&scc=1&plt=AKgnsbshkHeeUOeyLEcDy9dCSVNEGQmI1xpjOi1M1aNrf_i3tSAHCB4_GDw0yF07X0pDhX9gs_FXGu_CmdB4khJvBmoEO7n5KBeWiXI130soDwOKIsClVhJp72H4GtHSQhyViRzEqbfR49vgjjJmhYnLcdWNGRsEvY7T6XCY0FL_JjwsDqc64RMxdc5vLkjdeHdCiD_QsHtJ77X0M2_60NH89SVX4KfjKbA16evxOzXe2d5_T_eNg>